@model cim.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>Old Password 
            </td>
            <td>
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>

        <tr>
            <td>New Password 
            </td>
            <td>
                @Html.PasswordFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </td>
        </tr>

        <tr>
            <td>Confirm  Password 
            </td>
            <td>
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </td>
        </tr>

    </table>
    <p />
    <input type="submit" value="Change Password" />
    <p />
    <div class="error">@Model.Message</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
